{
    "SERVER_DIRECTORY": "/root/minecraft-panel/servers",    
    "DOWNLOAD_CACHE": "/tmp",
    "discord-webhook-enable": true,
    "discord-webhook": "https://discord.com/api/webhooks/000000",
    "servers": {
        "proxy": [],
        "spigot": [],
        "standalone": []
    },
    "akash-servers": {
        "reece-test-akash-1": {
            "dseq": 57539680,
            "owner": "akash1rpv97xasy7px29ccdhy93ar6aj0t8a6895d4n3",
            "provider": "akash1r7y2msa9drwjss5umza854he5vwr2czunye9de"
        }
    },
    "firewall": {
        "allow-ports": [
            21,
            22,
            80,
            443,
            25565
        ],
        "full-access-ip-connections": [
            "127.0.0.1",
            "95.217.113.126"
        ],
        "blocked-ports": [
            30000
        ]
    },
    "backups": {        
        "save-location": "/home/reece/Desktop/test_backups",
        "max-local-backups": 3,
        "save-relative": false,
        "parent-paths": {
            "/root/servers/": [
                ".*.zip", "logs/", "cache/", ".*_OLD", ".*_TEMP-REMOVED", ".*.jar-",
                "plugins/dynmap", "LuckPerms/translations/", "LuckPerms/libs/", "plugins/bStats", "libraries/"
            ],
            "/root/core/": [
                ".*node_modules/", ".git/"
            ],
            "/root/minecraft-panel/": [
                ".*akash/", ".*Docs/", ".*requirements/", ".*src/", ".git/"
            ]
        },
        "hetzner-sftp": {
            "enabled": false,
            "server-url": "u.your-storagebox.de",
            "username": "u",
            "password": "password",
            "ssh-key-path": "",
            "remote-dir": "/backups"
        },
        "database": {
            "mongodb": {
                "enabled": false,                
                "backup-uri": "mongodb://admin:PASSWORD@IP_ADDR:27017/?authSource=admin",                
                "NOTE-how_to_restore": "mongorestore --uri=mongodb://admin:PASSWORD@ip_addr:27017/?authSource=admin output_dir/"
            }
        }      
    },
    "web-shortner": {
        "location": "/var/www/html/l",
        "domain": "reece.sh/l"
    }
}
