## INSTALL
# pip install -r requirements/requirements.txt

## UPDATE DEENDS
# python -m pip install pipreqs && pipreqs .

pyfiglet
pyyaml
pyufw # sudo apt-get install ufw
pick  # https://github.com/wong2/pick
pymongo
dnspython